<h1>{{title}}</h1>

<table>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Email</td>
    <td>Phone_number</td>
    <td>Major</td>
    <td>Student_Id</td>
    <td>Employee_Id</td>
  </tr>
  {{#each student_res}}
    <form method="post" action="/update/student"><tr>
        <td>{{Id}}</td>
        <td><input type="text" name="Name" placeholder={{Name}} /></td>
        <td><input type="text" name="Email" placeholder={{Email}} /></td>
        <td><input
            type="text"
            name="Phone_number"
            placeholder={{Phone_number}}
          /></td>
        <td><input type="text" name="Major" placeholder={{Major}} /></td>
        <td><input
            type="text"
            name="Student_Id"
            placeholder={{Student_Id}}
          /></td>
        <td><input
            type="text"
            name="Employee_Id"
            placeholder={{Employee_Id}}
          /></td>
        <td><input type="submit" value="수정" /></td>
      </tr></form>
  {{/each}}
</table>